{% extends "layout.html" %}


{% block main %}
        <table class="table table-bordered mx-auto">
            <thead>
                <tr>
                    <td>Transaction Type</td>
                    <td>Symbol</td>
                    <td>Transaction Price</td>
                    <td>Shares</td>
                    <td>Date & Time</td>
                </tr>
            </thead>
            <tbody>
            {% for transaction in history %}
                <tr>
                    {% if transaction.shares > 0 %}
                        <td>Purchase</td>
                    {% else %}
                        <td>Sale</td>
                    {%  endif %}
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.buy_cash | usd }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
            {% endfor %}
{% endblock %}
