{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
<table class="table table-bordered mx-auto">
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Symbol</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ quote.name }}</td>
                <td>{{ quote.price | usd }}</td>
                <td>{{ quote.symbol }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
